@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #060606;
}

.my-btn-bg {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343 100%
    )
    95% / 200% 100%;
}
.my-color {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343 100%
    )
    95% / 200% 100%;
  /* Use the background-clip property to apply the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  /* Set the text color to transparent to allow the gradient to show through */
  color: transparent;
}

.my-bg-1 {
  background: linear-gradient(45deg, #8bc1e5, #87b5c3);
}

.overlay {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /* z-index: 90; */
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

h2 {
}

p {
}
