@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f8fa;
}

.container {
  max-width: 1320px;
}

.dark {
  background-color: #060606;
}

.my-btn-bg {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343 100%
    )
    95% / 200% 100%;
}
.my-color {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343 100%
    )
    95% / 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.my-bg-1 {
  background: linear-gradient(45deg, #8bc1e5, #87b5c3);
}
.overlay {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /* z-index: 90; */
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.timeline-dot:before {
  content: "";
  width: 100%;
  top: 63px;
  height: 6px;
  left: calc(50% - -12px);
}

.rainbow-gradient-circle {
  position: fixed;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  background-image: linear-gradient(45deg, #059dff, #36c6f0);
  opacity: 0.25;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

.rainbow-gradient-circle.theme-pink {
  left: auto;
  top: -250px;
  right: -250px;
  bottom: auto;
  background-image: linear-gradient(45deg, #fb5343, #ba4a00);
}
.rainbow-gradient-circle {
  position: fixed;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  background-image: linear-gradient(45deg, #059dff, #36c6f0);
  opacity: 0.25;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}
